html {
    min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

body {
    // background-color: #F9F6F5;
    quotes: "“" "„";
	height: 100%; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */

	font-family: "Red Hat Display", sans-serif;
    color: #000000;
    font-size: 16px;
    line-height: 1.6875;

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    /* Mobile */

}

body > * {
	flex-shrink: 0; /* sticky footer */
}

section {
	// position: relative;
}

/* Grid styles */

.container {
	width: 1270px;
    
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

    &--fluid {
        max-width: unset;
    }

    &--no-padding {
        padding: 0;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        width: 100%;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 100%;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
    }
}

/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Sticky Footer */

.footer {
	

	/* Just for fun */
	background-color: #fafafa;
	
}
