.section-result {
    background-color: #f9f6f5;
    margin-bottom: 130px;

    /* Mobile */
    @media (max-width: 1199px) {
      margin-bottom: 0;
    }
}

.result-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    /* Mobile */
    @media (max-width: 599px) {
      flex-direction: column;
    }
}

.result-item {
    padding-top: 58px;
    padding-bottom: 58px;
}

.result-item-title {
    font-family: "Red Hat Display", sans-serif;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.25;
    color: #222;
    text-align: center;
    border-bottom: 3px solid #222222;
}

.text-result {
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    line-height: 1.25;
    color: $black-color;
}


